/*
 * SPDX-FileCopyrightText: 2026 Sergei Mukhin
 * SPDX-License-Identifier: MIT
 */

/* EdibleCSS v0.1.0
 * A primitive, classless CSS framework for developers with no design skills
 * License: MIT
 * https://github.com/svmukhin/edible-css
 */

@import 'reset.css';
@import 'tokens.css';
@import 'base.css';
@import 'typography.css';
@import 'lists.css';
@import 'tables.css';
@import 'forms.css';
@import 'media.css';
@import 'semantic.css';
@import 'utilities.css';
@import 'dark-mode.css';
@import 'print.css';
